<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Redirect>
            <version>1.0.0</version>
        </LCB_Redirect>
    </modules>
    <global>
        <blocks>
            <lcb_redirect>
                <class>LCB_Redirect_Block</class>
            </lcb_redirect>
        </blocks>
        <helpers>
            <lcb_redirect>
                <class>LCB_Redirect_Helper</class>
            </lcb_redirect>
        </helpers>
        <models>
            <lcb_redirect>
                <class>LCB_Redirect_Model</class>
                <resourceModel>lcb_redirect_resource</resourceModel>
            </lcb_redirect>
            <lcb_redirect_resource>
                <class>LCB_Redirect_Model_Resource</class>
                <entities>
                    <url>
                        <table>lcb_redirect_url</table>
                    </url>
                </entities>
            </lcb_redirect_resource>
        </models>
        <resources>
            <lcb_redirect_setup>
                <setup>
                    <module>LCB_Redirect</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </lcb_redirect_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LCB_Redirect before="Mage_Adminhtml">LCB_Redirect_Adminhtml</LCB_Redirect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <LCB_Redirect>
                    <files>
                        <default>LCB_Redirect.csv</default>
                    </files>
                </LCB_Redirect>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <lcb_redirect_observer>
                        <type>singleton</type>
                        <class>lcb_redirect/observer</class>
                        <method>checkRedirect</method>
                    </lcb_redirect_observer>
                </observers>
            </controller_front_send_response_before>
        </events>
    </frontend>
</config>
